@{
    ViewData["Title"] = "Home Page";
}

@model IronmenMvcWeb.Models.Pokemon[]

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewData["Message"]</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form action="/MyHome/Hello" method="POST">
        id<input type="text" name="id" />
        name<input type="text" name="name" />
        property<input type="text" name="property" />
        <input type="submit" value="送出" />
    </form>
    <div>
        <h4>Pokemon</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>編號</dt>
            <dd>@Model[0].Id</dd>
            <dt>屬性</dt>
            <dd>
                @Model[0].Property
            </dd>
            <dt>名稱</dt>
            <dd>@Model[0].Name</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>編號</dt>
            <dd>@Model[1].Id</dd>
            <dt>屬性</dt>
            <dd>
                @Model[1].Property
            </dd>
            <dt>名稱</dt>
            <dd>@Model[1].Name</dd>
        </dl>
    </div>
</div>
